
<p id="notice"><%= notice %></p>


<p>
  <b>Choose what to do next</b><br/>
  <%= link_to 'List People', list_people_path %><br>
  <%= link_to 'Edit Profile', edit_person_path(@person) %><br>
  <%= link_to 'View Map', map_people_path %>
</p>