.s1 {
 color: white;
 text-shadow: #6374AB 18px -15px 2px; 
}

.s2 {
  color: white;
  text-shadow: GREEN 18px -15px 2px; 
}

.s3 {
  color: white;
  text-shadow: RED 18px -15px 2px; 
}

.s4 {
  color: white;
  text-shadow: #000000 18px -15px 2px; 
}